<%= form_for(@pig, :html => {:id => :pig_form}) do |f| %>
  <%= show_error_messages(@pig) %>

  <div class="form_with_column_container">
    <div class="form_left">
      <div class="field">
        <%= f.label :tag %>
        <%= f.text_field :tag, :maxlength => 255 %>
      </div>
      <div class="field">
        <%= f.label :father %>
        <%= f.text_field :father, :maxlength => 255 %>
      </div>
      <div class="field">
        <%= f.label :mother %>
        <%= f.text_field :mother, :maxlength => 255 %>
      </div>
      <div class="field">
        <%= f.label :genetics %>
        <%= f.text_field :genetics, :maxlength => 255 %>
      </div>
      <div class="field">
        <%= f.label :status %>
        <%= select_pig_status_field(f) %>
      </div>
    </div>

    <div class="form_right">
      <div class="field">
        <%= f.label :birth %>
        <%= f.calendar_date_select :birth %>
      </div>
      <div class="field">
        <%= f.label :next_heat %>
        <%= f.calendar_date_select :next_heat %>
      </div>
      <div class="field">
        <%= f.label :group %>
        <%= f.text_field :group, :maxlength => 255 %>
      </div>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location, :maxlength => 255 %>
      </div>
    </div>
  </div>

  <h2 class="subtitle">
    <%= Pig.human_attribute_name :deliveries, :count => @pig.deliveries.size %>
  </h2>

  <table id="deliveries" class="summary">
    <thead>
      <tr>
        <th><%= Delivery.human_attribute_name :date %></th>
        <th><%= Delivery.human_attribute_name :born %></th>
        <th><%= Delivery.human_attribute_name :live %></th>
        <th><%= Delivery.human_attribute_name :dead %></th>
        <th><%= Delivery.human_attribute_name :mummified %></th>
        <th><%= Delivery.human_attribute_name :adopted %></th>
        <th><%= Delivery.human_attribute_name :low %></th>
      </tr>
    </thead>
    <tbody>
      <% @pig.deliveries.build %>
      <%= f.fields_for :deliveries do |d_f| %>
        <tr>
          <td><%= d_f.calendar_date_select :date %><%= d_f.hidden_field :id %></td>
          <td><%= d_f.text_field :born, :maxlength => 10 %></td>
          <td><%= d_f.text_field :live, :maxlength => 10 %></td>
          <td><%= d_f.text_field :dead, :maxlength => 10 %></td>
          <td><%= d_f.text_field :mummified, :maxlength => 10 %></td>
          <td><%= d_f.text_field :adopted, :maxlength => 10 %></td>
          <td><%= d_f.text_field :low, :maxlength => 10 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="subtitle">
    <%= Pig.human_attribute_name :weanings, :count => @pig.weanings.size %>
  </h2>

  <table id="weanings" class="summary">
    <thead>
      <tr>
        <th><%= Weaning.human_attribute_name :date %></th>
        <th><%= Weaning.human_attribute_name :weaned %></th>
        <th><%= Weaning.human_attribute_name :nursed_weaned %></th>
        <th><%= Weaning.human_attribute_name :age %></th>
        <th><%= Weaning.human_attribute_name :average_weight %></th>
      </tr>
    </thead>
    <tbody>
      <% @pig.weanings.build %>
      <%= f.fields_for :weanings do |w_f| %>
        <tr>
          <td><%= w_f.calendar_date_select :date %><%= w_f.hidden_field :id %></td>
          <td><%= w_f.text_field :weaned, :maxlength => 10 %></td>
          <td><%= w_f.text_field :nursed_weaned, :maxlength => 10 %></td>
          <td><%= w_f.text_field :age, :maxlength => 10 %></td>
          <td><%= w_f.text_field :average_weight, :maxlength => 10 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2 class="subtitle">
    <%= Pig.human_attribute_name :services, :count => @pig.services.size %>
  </h2>

  <table id="services" class="summary">
    <thead>
      <tr>
        <th><%= Service.human_attribute_name :date %></th>
        <th><%= Service.human_attribute_name :stallion %></th>
      </tr>
    </thead>
    <tbody>
      <% @pig.services.build %>
      <%= f.fields_for :services do |s_f| %>
        <tr>
          <td><%= s_f.calendar_date_select :date %><%= s_f.hidden_field :id %></td>
          <td><%= s_f.text_field :stallion, :maxlength => 255 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @pig.next_expected_delivery_date %>
    <div class="information">
      <span><%= show_next_expected_delivery_date %></span>
    </div>
  <% end %>

  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>