<%= form_for(@pig) do |f| %>
  <%= show_error_messages(@pig) %>

  <div class="field">
    <%= f.label :tag %>
    <%= f.text_field :tag, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :birth %>
    <%= f.calendar_date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :genetics %>
    <%= f.text_field :genetics, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :group %>
    <%= f.text_field :group, :maxlength => 255 %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, :maxlength => 255 %>
  </div>

  <h2 class="subtitle">
    <%= Pig.human_attribute_name :services, :count => @pig.services.size %>
  </h2>
  
  <%= f.fields_for :services, @pig.services.new do |s_f| %>
    <div class="field">
      <%= s_f.label :date %>
      <%= s_f.calendar_date_select :date %>
    </div>
    <div class="field">
      <%= s_f.label :stallion %>
      <%= s_f.text_field :stallion, :maxlength => 255 %>
    </div>
  <% end %>

  <% unless @pig.services.blank? %>
    <table class="summary">
      <thead>
        <tr>
          <th><%= Service.human_attribute_name :date %></th>
          <th><%= Service.human_attribute_name :stallion %></th>
        </tr>
      </thead>
      <tbody>
        <% @pig.services.each do |service| %>
          <tr>
            <td><%= l(service.date) %></td>
            <td><%= service.stallion || '-' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <h2 class="subtitle">
    <%= Pig.human_attribute_name :deliveries, :count => @pig.deliveries.size %>
  </h2>

  <%= f.fields_for :deliveries, @pig.deliveries.new do |d_f| %>
    <div class="field">
      <%= d_f.label :date %>
      <%= d_f.calendar_date_select :date %>
    </div>
    <div class="field">
      <%= d_f.label :born %>
      <%= d_f.text_field :born, :maxlength => 10 %>
    </div>
    <div class="field">
      <%= d_f.label :live %>
      <%= d_f.text_field :live, :maxlength => 10 %>
    </div>
    <div class="field">
      <%= d_f.label :dead %>
      <%= d_f.text_field :dead, :maxlength => 10 %>
    </div>
    <div class="field">
      <%= d_f.label :mummified %>
      <%= d_f.text_field :mummified, :maxlength => 10 %>
    </div>
    <div class="field">
      <%= d_f.label :adopted %>
      <%= d_f.text_field :adopted, :maxlength => 10 %>
    </div>
    <div class="field">
      <%= d_f.label :low %>
      <%= d_f.text_field :low, :maxlength => 10 %>
    </div>
  <% end %>

  <% unless @pig.deliveries.blank? %>
    <table class="summary">
      <thead>
        <tr>
          <th><%= Delivery.human_attribute_name :date %></th>
          <th><%= Delivery.human_attribute_name :born %></th>
          <th><%= Delivery.human_attribute_name :live %></th>
          <th><%= Delivery.human_attribute_name :dead %></th>
          <th><%= Delivery.human_attribute_name :mummified %></th>
          <th><%= Delivery.human_attribute_name :adopted %></th>
          <th><%= Delivery.human_attribute_name :low %></th>
        </tr>
      </thead>
      <tbody>
        <% @pig.deliveries.each do |delivery| %>
          <tr>
            <td><%= l(delivery.date) %></td>
            <td><%= delivery.born %></td>
            <td><%= delivery.live %></td>
            <td><%= delivery.dead %></td>
            <td><%= delivery.mummified %></td>
            <td><%= delivery.adopted %></td>
            <td><%= delivery.low %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="actions">
    <%= f.hidden_field :lock_version %>
    <%= f.submit %>
  </div>
<% end %>